@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-vue/dist/bootstrap-vue.css';
@import "~fontawesome-4.7/css/font-awesome.css";
$main-color:   #939499;
$main-yellow:  #F6E04F;
$main-green:   #007982;
$phone-height: calc(100vh - 101px);
body{
  font-size:   16px;
  font-family: Microsoft JhengHei;
  .home, .schedule-page, .time-arrival-page, .search-page{
    min-height: $phone-height;
    @media (max-width: 768px){
      min-height: $phone-height;
    }
  }
}
.row{
  margin: 0;
}
.footer{
  background-color: #939499;
  height:           40px;
  position:         absolute;
  width:            100%;
}
.home{
  background-image: url("../images/PhoneBg.svg");
  background-size:  cover;
  height:           calc(100vh - 125px);
}
.navbar{
  background-color: #939499 !important;
  padding-top:      1.5em;
  .navbar-brand{
    color:       #F6E04F;
    font-weight: bold;
    font-size:   1.8em;
  }
  .nav-link a{
    font-size: 1.4em;
    color:     white !important;
    margin:    0 1em;
    &:hover{
      opacity:         0.9;
      transform:       scale(0.95);
      text-decoration: none;
    }
  }
  .right-nav-item .nav-link a{
    font-size: 1.1em;
    margin:    0 1em;
  }
  @media (max-width: 768px){
    padding-top: 0;
    transition:  0.2s;
    .nav-link, .right-nav-item .nav-link{
      text-align: center;
      margin:     0;
      font-size:  1.2em;
    }
  }
}
.time-line-area{
  display:      flex;
  padding-left: 90px;
  .timeline{
    &:after{
      width: 2px;
    }
    .timeline-item{
      display:       flex;
      align-items:   baseline;
      border-bottom: none;
      margin:        0 0 0 28px;
      .timeline-circle{
        top:          0.60em;
        border-width: 2px;
      }
      .states{
        background:     #EFEFF0;
        color:          #939499;
        padding:        4px 12px;
        text-align:     center;
        letter-spacing: 2px;
        min-width:      calc(3em + 60px);
        font-size:      12px;
      }
      .bus-coming{
        background: #D35D78;
        color:      white;
        text-align: center;
      }
      .bus-leaving{
        opacity: 0.5;
      }
      .stop-name{
        padding:        0 10px;
        font-size:      1em;
        letter-spacing: 1px;
      }
      .bus-group{
        position:        absolute;
        left:            calc(-115px - 15px);
        top:             1.5em;
        z-index:         99;
        width:           115px;
        display:         flex;
        align-items:     center;
        justify-content: center;
        .bus-number{
          background-color: #019EB1;
          color:            white;
          padding:          2px 8px;
          border-radius:    0.8em;
          font-size:        12px;
          width:            85px;
          .talk{
            width:         8px;
            height:        8px;
            background:    #019EB1;
            position:      absolute;
            right:         27px;
            top:           8px;
            transform:     rotate(45deg);
            border-radius: 2px;
            z-index:       -1;
          }
        }
        .fa-bus{
          font-size:                 1.3em;
          color:                     #019EB1;
          margin-left:               5px;
          /* animation 參數設定 */
          animation-name:            MoveToRight; /*動畫名稱，需與 keyframe 名稱對應*/
          animation-duration:        1.3s; /*動畫持續時間，單位為秒*/
          animation-delay:           1.5s; /*動畫延遲開始時間*/
          animation-iteration-count: infinite; /*動畫次數，infinite 為無限次*/
          /* 關鍵影格(@keyframe) */
          @keyframes MoveToRight{
            0%{
              transform: scale(1);
            }
            50%{
              transform: scale(1.1);
            }
            100%{
              transform: scale(1);
            }
          }
        }
      }
    }
  }
}
.time-header{
  padding:   15px;
  font-size: 1.2em;
  .time-header-title{
    display:         flex;
    justify-content: space-between;
    margin-bottom:   15px;
    .route-name{
      font-weight: bold;
      font-size:   1.2em;
    }
    .btn-group{
      display: flex;
      .fa{
        background:      #333333;
        color:           white;
        border-radius:   5px;
        width:           35px;
        height:          35px;
        display:         flex;
        justify-content: center;
        align-items:     center;
        margin:          0 5px;
        &:hover, &:focus{
          cursor:    pointer;
          opacity:   0.9;
          transform: scale(0.95);
        }
      }
    }
  }
}
.time-arrival-map-page{
  .bus-stop-icon{
    background-position: 0 0;
    margin-left:         -12px !important;
    margin-top:          -12px !important;
    width:               12px;
    height:              12px;
    transform:           translate3d(639px, -44px, 0px);
    z-index:             -44;
  }
  .bus-stop-circle{
    font-size:       16px;
    width:           24px;
    height:          24px;
    background:      #019EB1;
    color:           white;
    display:         flex;
    justify-content: center;
    align-items:     center;
    border-radius:   50%;
  }
}
.time-schedule-info{
  display:         flex;
  justify-content: space-between;
  align-items:     baseline;
  margin-top:      10px;
  flex-wrap:       wrap;
  .schedule{
    font-size: 0.8em;
  }
  .update-time{
    font-size: 0.65em;
  }
}